body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light gray background color */
}

.tools {
  background-image: url(z.jpg);
  padding: 20px;
  text-align: center;
  border-radius: 1px;
  position: sticky;
  top: 0;
}

.tools h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
  text-transform: uppercase;
}

nav {
  background-color: #333;
  padding: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline; 
  margin-right: 20px; 
}

nav ul li a {
  text-decoration: none;
  color: #fff; 
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700;
}

.info {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.info h2 {
  color: #333;
  margin-top: 30px;
}

.info h4 {
  margin-top: 10px;
}

.info p {
  line-height: 1.5;
  margin-top: 10px;
}

.info a {
  color: #007bff;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}